{% extends "layout.twig" %}

{% block content %}

<main class="template-main">

	<section class="main-content wrapper clearfix">
		<div class="responsivecolumns columns-two-66-34">
			<div class="column columns-two-left">
				{{zone('main')|raw}}
			</div>
			<div id="div-form" class="column columns-two-right">
				{{zone('contact')|raw}}
			</div>
		</div>
	</section>
	
</main>

{% endblock %}