{% extends "layout.twig" %}

{% block content %}

<main class="template-main">

	<section class="main-content wrapper clearfix">
		<div class="responsivecolumns columns-two-66-34">
			<div class="column columns-two-left">
				{{zone('main')|raw}}
			</div>
			<div class="column columns-two-right">
				{{widget('contactform', 'thisunqiuewidgetname', {'text': 'Submit','formTitle': 'Contact Form', 'email': 'profile'})|raw}}
			</div>
		</div>
	</section>
	
</main>

{% endblock %}